.dropdown {
    display: flex;
    align-items: baseline;

    .label {
        color: #FEFEFE;
        font-weight: bold;
        margin-right: 3px;
    }
    
    .select {
        padding: 5px;
        color: #FEFEFE;
        font-weight: bold;
        cursor: pointer;
        border: none;
        background: none;
        text-overflow: ellipsis;

        option {
            padding: 5px;
            background:#181818;
        }

        &:focus {
            outline: none;
        }
    }
}