.dropdown {
    display: flex;
    align-items: baseline;
}

.label {
    color: #222222;
    font-weight: bold;
    margin-right: 3px;
}

.select {
    padding: 5px;
    color: #222222;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: none;
    text-overflow: ellipsis;
}

.select:focus {
    outline: none;
}