.video-control {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background: rgb(0, 0, 0);
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    transform: translateY(100%);
    transition: transform ease .5s;
}

.video-player:hover .video-control {
    transform: translateY(0);
}

.bar {
    height: 5px;
    width: 100%;
    background-color:var(--light-color);
    transition: height ease .2s;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}

.bar:hover {
    height: 10px;
}

.bar > .bar-filled {
    height: 100%;
    width: 0%;
    background-color: var(--primary-color);
    pointer-events: none;
    transition: width ease .5s;
}

.control-wrapper {
    display: flex;
    justify-content: space-between;
    justify-items: baseline;
    margin-top: 15px;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
}

.btn:focus {
    outline: none;
}

.control {
    display: flex;
    align-items: baseline;
}

.control .time {
    font-weight: 400;
    color: var(--light-color);
}
