.video-control {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    background: rgb(0, 0, 0);
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    transform: translateY(100%);
    transition: transform ease 0.5s;

    .seekbar-wrapper {
        .seekbar {
            height: 5px;
            width: 100%;
            background-color: var(--light-color);
            transition: height ease 0.2s;
            cursor: pointer;
            border-radius: 5px;
            overflow: hidden;

            &:hover {
                height: 10px;
            }

            &-filled {
                height: 100%;
                width: 0%;
                background-color: var(--primary-color);
                pointer-events: none;
                transition: width ease 0.5s;
            }
        }
    }

    .control-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        .control {
            display: flex;
            align-items: center;

            .btn {
                background: none;
                border: none;
                cursor: pointer;
                color: var(--light-color);

                &-primary {
                    color: var(--primary-color);
                }

                &:focus {
                    outline: none;
                }
            }
 
            .time {
                font-weight: 400;
                color: var(--light-color);
            }
        }
    }
}

.video-player:hover .video-control {
    transform: translateY(0);
}