.video-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 18px;
    color: var(--light-color);
    font-weight: bold;
    transform: translateY(-100%);
    transition: transform ease .5s;
}

.video-player:hover .video-title {
    transform: translateY(0);
}
