.video-player {
    position: relative;
    overflow: hidden;
    padding: 0;
}

.video-player > video {
    display: block;
    width: 100%;
    height: 100%;
}

.theme-red {
    --primary-color: #F44336;
    --secondary-color: #CACACA;
    --light-color: #F5F5F5;
    --dark-color: #212121;
}

.theme-green {
    --primary-color: #4CAF50;
    --secondary-color: #CACACA;
    --light-color: #F5F5F5;
    --dark-color: #212121;
}

.theme-blue {
    --primary-color: #03A9F4;
    --secondary-color: #CACACA;
    --light-color: #F5F5F5;
    --dark-color: #212121;
}